<!DOCTYPE html>
<html>
	<head>
		<title>Exemple Silex Twig</title>
	</head>
	<body>
		<a href="{{ url('home') }}"><h1>Air' Crash</h1></a>
		<nav>
			<a href="{{ url('contact') }}">Nous contacter</a>
			<a href="{{ url('login') }}">Connexion</a>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>